
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500&display=swap');


/* global variable */

 *{
    font-family: 'Besley', serif;
     transition:0.3s;
} 

html::-webkit-scrollbar{
    width:10px;
}

html::-webkit-scrollbar-thumb{
    background: red;
}

html::-webkit-scrollbar-track{
    background: black;
}

/* :root {
    --main: #f01027;
    --black: #000;
    --white: #fff;
} */